<div id="<%= dom_id monster %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= monster.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Hp:</strong>
    <%= monster.hp %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Mp:</strong>
    <%= monster.mp %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Is undead:</strong>
    <%= monster.is_undead %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Desc:</strong>
    <%= monster.desc %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Avatar:</strong>
		<%= image_tag monster.avatar %>
    <%= link_to monster.avatar.filename, monster.avatar if monster.avatar.attached? %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this monster", monster, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this monster', edit_monster_path(monster), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
